<section>

        <div class="login-card d-grid theme-form login-form">

          <form [formGroup]="loginForm" id="loginForm" class=" login-form" method="post" (ngSubmit)=" loginUser()">


            <div class="row g-0 ">
              <div class="col-10 col-lg-9 mx-auto text-center">
                <div class="logo mb-5 mb-md-0">
                  <a href="index.html" title="vpoweru"><img class="logo-design" src="assets/images/VpowerU-Logo-01.svg" alt="mainlogo"></a>
                </div>
              </div>
            </div>
            <h3 class="fw-bold mb-2 text-center mt-4">Login to your Account</h3>
            <p class="text-center">See what is going on with your business</p>
            <div class="ry-field-with-icon name mb-3 position-relative main-login">

              <label>Email </label>
              <img src="assets/images/email.svg" alt="emailicon">

              <div class="form-group-">
                <input id="email" formControlName="UserName" name="email" type="text" placeholder="Enter Email">

              </div>

            </div>
            <span class="text-danger"
                  *ngIf="(loginFormControl.UserName.touched) && (loginFormControl.UserName.invalid) && loginFormControl.UserName.errors?.required">
                                Email is Required
                            </span>
            <div class="ry-field-with-icon email">
              <img src="assets/images/password.svg" alt="passicon">

              <label>Password</label>
              <div class="form-group-">
                <input id="password" formControlName="Password" type="password" placeholder="*****">
              </div>
            </div>
            <span class="text-danger"
                  *ngIf="(loginFormControl.Password.touched) && loginFormControl.Password.errors?.required">
                                Password is Required
                            </span>
            <div class="row mt-3">
              <div class="col">
                <div class="form-check">
                  <input id="remember-me" name="remember" class="form-check-input" type="checkbox">
                  <label class="form-check-label mb-0" for="remember-me">Remember Me</label>
                </div>
              </div>

              <div class="col text-end fw-bold"><a [routerLink]= "['/forgot-password']"  class="link-secondary">Forgot Password ?</a></div>
            </div>
            <div class="d-grid my-2">
              <button (click)="loginUser()" [disabled]="!loginForm.valid" type="button" class="btn btn-labeled btn-primary w-100">
                <span class="btn-label">                  <img class="me-2" src="assets/images/login.svg" alt="loginicon"></span>Login</button>
            </div>

          </form>
          <!-- <p class="text-center text-muted mb-0">Not Registered Yet?<a class="link-primary mx-2" href="register.html">Create an account</a></p> -->
          <p class="text-center text-muted mb-0">Not Registered Yet?<a class="link-primary mx-2 fw-bold" [routerLink]= "['/account/signup']">Create an account</a></p>

        </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="col-xl-12 p-0">

        <div class=" d-grid theme-form">

          <form id="loginForm" class=" login-form" method="post">


            <div class="row g-0 ">
              <div class="col-10 col-lg-9 mx-auto text-center">
                <div class="logo mb-5 mb-md-0">
                  <a href="index.html" title="vpoweru"><img class="logo-design" src="assets/images/VpowerU-Logo-01.svg" alt="mainlogo"></a>
                </div>
              </div>
            </div>
            <h3 class="fw-bold mb-2 text-center mt-4">Confirmation</h3>
            <p class="text-center">Please Enter the code we sent to the email inaam*******.com</p>
            <div class="name mb-3 position-relative main-login">
              <div class="d-flex" style="text-align: center;">
                <div>
                  <input type="text" style="border-bottom: 1px solid; width: 80%;">
                </div>
                <div>
                  <input type="text" style="border-bottom: 1px solid; width: 80%;">
                </div>
                <div>
                  <input type="text" style="border-bottom: 1px solid; width: 80%;">
                </div>
                <div>
                  <input type="text" style="border-bottom: 1px solid; width: 80%;">
                </div>
              </div>

            </div>
            <div class="d-grid my-2">
              <button type="button" class="btn btn-labeled btn-primary w-100">
                <span class="btn-label">                 </span>Confirm</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
