<section>
  <div class="row register-box">
    <div class="col-lg-11 offset-sm-0 mobile-view">
      <form [formGroup]="signupForm" id="loginForm" method="post" (ngSubmit)="submitForm()">
        <div class="row g-0  ">
          <div class="col-10 col-lg-9 mx-auto text-center">
            <div class="logo mt-4 mb-3 mb-md-0">
              <a href="index.html" title="vpoweru"><img class="logo-design" src="assets/images/VpowerU-Logo-01.svg"
                  alt="mainlogo"></a>
            </div>
          </div>
        </div>
        <h3 class="fw-bold mb-2 text-center mt-3">Register Now</h3>
        <p class="text-center mb-4">See what is going on with your business</p>
        <div class="d-flex wizard-section mx-auto mb-2">

          <a id="backbnt-">
            <div class="circle-design">
              <img src="assets/images/user-pin.svg" alt="circle">
            </div>
          </a>

          <div id="line-design" class=" separator">

          </div>
          <a id="image">
            <div id="NextID-" class="circle-other">
              <img src="assets/images/contact-info.svg" alt="circle">
            </div>
          </a>
          <a style="display: none;" id="image-1">
            <div class="circle-other-second">
              <img src="assets/images/contact-info.svg" alt="circle">
            </div>
          </a>

        </div>

        <div  *ngIf="IsFirstStep">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/user.svg" alt="icon">

                <label>Customer Name <span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="name" class="border-none" formControlName="name" type="text"
                    placeholder="Enter Customer Name">
                </div>
              </div>
              <span class="text-danger"
                *ngIf="submited || ((signupForm.controls.name.touched) && signupForm.controls.name.errors?.required)">
                Name is Required
              </span>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/email.svg" alt="icon">

                <label>Customer Email<span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="email" class="border-none" formControlName="email" type="text"
                    placeholder="Enter Customer Email">

                </div>
              </div>
              <span class="text-danger"
                *ngIf="(signupForm.controls.email.touched) && signupForm.controls.email.errors?.required">
                Email is Required
              </span>
            </div>

          </div>


          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/phone.svg" alt="icon">

                <label>Phone Number<span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="number" class="border-none" formControlName="number" type="text"
                    placeholder="9255555566565">
                </div>
              </div>
              <span class="text-danger"
                *ngIf="(signupForm.controls.number.touched) && signupForm.controls.number.errors?.required">
                Number is Required
              </span>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/meter.svg" alt="icon">

                <label>MPAN</label>

                <div class="form-group">
                  <input class="border-none" formControlName="mpan" type="text"
                    placeholder="Meter Point Administration Number">

                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/password.svg" alt="icon">

                <label>Password<span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="password" class="border-none" formControlName="password" type="password"
                    placeholder="Enter Password">
                </div>
              </div>
              <span class="text-danger"
                *ngIf="(signupForm.controls.password.touched) && signupForm.controls.password.errors?.required">
                Password is Required
              </span>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/password.svg" alt="icon">

                <label>Confirm Password<span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="cpassword" class="border-none" formControlName="cpassword" type="password"
                    placeholder="Confirm Password">
                </div>
              </div>
              <span class="text-danger"
                *ngIf="(signupForm.controls.cpassword.touched) && signupForm.controls.cpassword.errors?.required">
                Password does not match
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="ry-field-with-icon name mb-2">
                <img src="assets/images/address.svg" alt="icon">

                <label>Address<span class="text-danger fw-bold">
                    *
                  </span></label>

                <div class="form-group">
                  <input id="address" class="border-none" formControlName="address" type="text" placeholder="Address">
                </div>
              </div>
              <span class="text-danger"
                *ngIf="(signupForm.controls.address.touched) && signupForm.controls.address.errors?.required">
                Address is Required
              </span>
            </div>

          </div>
        </div>

        <div style="display: none;"  *ngIf="!IsFirstStep" >
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">
                <!-- <img src="../assets/images/user.svg" alt="looginpage"> -->

                <label>Peak demand in KWh</label>

                <div class="form-group">
                  <input class="border-none" formControlName="pdik" type="text"
                    placeholder="Estimated peak demand in KWh">

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">
                <!-- <img src="../assets/images/Vector.svg" alt="looginpage"> -->

                <label>Minimum demand in KWh</label>

                <div class="form-group">
                  <input class="border-none" formControlName="mdik" type="text"
                    placeholder="Estimated minimum demand in KWh">

                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">

                <label>Annual demand in KWh</label>

                <div class="form-group">
                  <input class="border-none" formControlName="adik" type="text"
                    placeholder="Estimated annual demand in KWh">

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">

                <label>Upward flexibility</label>

                <div class="form-group">
                  <input class="border-none" formControlName="uflex" type="text"
                    placeholder="Estimated Upward flexibility">

                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">

                <label>Downward flexibility</label>

                <div class="form-group">
                  <input class="border-none" formControlName="dflex" type="text"
                    placeholder="Estimated Downward flexibility">

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="ry-field-with-icon- name mb-2">

                <label>Flexibility Type</label>

                <div class="form-group">
                  <div class="drop-btn">
                    <select class="dropdown-select"
                      onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
                      <option></option>
                      <option value="one">one</option>
                      <option value="two">two</option>
                      <option value="three">three</option>
                    </select>
                    <input class="drop-down-input" formControlName="ftype" type="text" name="displayValue"
                      id="displayValue" placeholder="Select Option" onfocus="this.select()"
                      style="position:absolute;top:0px;left:0px;width:183px;width:180px\9; ">
                    <input name="idValue" id="idValue" type="hidden">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="ry-field-with-icon name mb-2" style="border: none;">

              </div>
            </div>

          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 col-sm-12 text-end btns">
            <a id="backbnt">
              <button  *ngIf="!IsFirstStep" class="btn back-btn mx-2" type="button"><img class="me-2" src="assets/images/back.svg"
                  alt="backicon">Back
              </button>
            </a>
            <a id="NextID">
              <button (click)="submitForm()" [class.disabled]="submitForm ? null: true" class="btn btn-primary btn-next"
                type="button"><img class="me-2" src="assets/images/next.svg" alt="nexticon">
                <span  *ngIf="IsFirstStep">Next </span>
                <span  *ngIf="!IsFirstStep">Submit</span>
              </button>
            </a>


          </div>

        </div>

      </form>
    </div>

    <p class="text-center text-muted py-2">Already have an account?<a class="link-primary fw-bold mx-2"
        [routerLink]="['/login']">Login</a></p>

  </div>




</section>